<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rbac.jrapid.dao.platform.SysButtonExtMapper">

    <resultMap id="baseResultExtMap" type="com.rbac.jrapid.entity.platform.SysButton"
               extends="com.rbac.jrapid.dao.platform.SysButtonMapper.baseResultMap"></resultMap>

    <sql id="baseExtColumnList">
        <include refid="com.rbac.jrapid.dao.platform.SysButtonMapper.baseColumnList" />
    </sql>

    <delete id="deleteByMenuId">
        DELETE FROM sys_button WHERE menu_id=#{menuId}
    </delete>

</mapper>