<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rbac.jrapid.dao.platform.SysGridConfigExtMapper">

    <resultMap id="baseResultExtMap" type="com.rbac.jrapid.entity.platform.SysGridConfig"
               extends="com.rbac.jrapid.dao.platform.SysGridConfigMapper.baseResultMap"></resultMap>

    <sql id="baseExtColumnList">
        <include refid="com.rbac.jrapid.dao.platform.SysGridConfigMapper.baseColumnList" />
    </sql>

    <!--查询表字段信息-->
    <select id="queryColumnInfo" parameterType="String" resultMap="baseResultExtMap">
        <!--SELECT <include refid="baseExtColumnList"/> FROM sys_grid_config WHERE title=#{tableName}-->
        select column_comment as title,column_name as field,data_type as type,120 width from `information_schema`.columns where table_name=#{tableName}
    </select>

    <!-- 判断是否有存在表 -->
    <select id="queryTable" parameterType="String" resultMap="baseResultExMap">
        select TABLE_NAME from INFORMATION_SCHEMA.TABLES where TABLE_NAME=#{tableName};
    </select>

    <delete id="deleteByMenuId">
        DELETE FROM sys_grid_config WHERE menu_id=#{menuId}
    </delete>

</mapper>