<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rbac.jrapid.dao.platform.SysMenuMapper">

	<!-- ********************** 以下部分为代码自动生成，不能修改！！！ ********************************** -->

	<resultMap id="baseResultMap" type="com.rbac.jrapid.entity.platform.SysMenu">
                <id column="id" property="id" />      <!-- 主键ID -->
		        <result column="parent_id" property="parentId"/>		<!-- 父节点ID -->
		        <result column="menu_name" property="menuName"/>		<!-- 菜单名称 -->
		        <result column="url" property="url"/>		<!-- 访问路径 -->
		        <result column="icon" property="icon"/>		<!-- 图标 -->
		        <result column="order_no" property="orderNo"/>		<!-- 序号 -->
		        <result column="open_type" property="openType"/>		<!-- 打开方式 -->
		        <result column="model_type" property="modelType"/>		<!-- 模板类型，DataGrid,Tree+Datagrid，主从表 -->
		        <result column="tree_id" property="treeId"/>		<!-- 左树资源ID -->
		        <result column="refer_field" property="referField"/>		<!-- 树关联字段 -->
		        <result column="master_table" property="masterTable"/>		<!-- 主表表名 -->
		        <result column="master_pk" property="masterPk"/>		<!-- 主表主键字段 -->
		        <result column="slave_table" property="slaveTable"/>		<!-- 从表表名 -->
		        <result column="slave_fk" property="slaveFk"/>		<!-- 从表外检字段 -->
	</resultMap>

	<sql id="baseColumnList">
        id,parent_id,menu_name,url,icon,
		order_no,open_type,model_type,tree_id,refer_field,
		master_table,master_pk,slave_table,slave_fk
	</sql>

    <!--根据主键获取记录-->
    <select id="findOne" resultMap="baseResultMap" parameterType="java.lang.Long">
        select
            <include refid="baseColumnList" />
        from sys_menu
        where id = #{id}
    </select>

    <!-- 查找全部 -->
    <select id="findAll" resultMap="baseResultMap">
        SELECT
            <include refid="baseColumnList"/>
        FROM sys_menu
    </select>

    <!--根据主键删除记录-->
    <delete id="delete" parameterType="java.lang.Long">
        delete from sys_menu
        where id = #{id}
    </delete>

    <!--保存,只针对于一个主键-->
	<insert id="save" useGeneratedKeys="false" keyProperty="id" parameterType="com.rbac.jrapid.entity.platform.SysMenu">
		insert into sys_menu
		(<include refid="baseColumnList" />
		)
		values
		(	#{id},#{parentId},#{menuName},#{url},#{icon},
			#{orderNo},#{openType},#{modelType},#{treeId},#{referField},
			#{masterTable},#{masterPk},#{slaveTable},#{slaveFk}
		)
	</insert>

    <!--更新规定字段-->
	<update id="updateSelected">
		update sys_menu
		<set>
			<foreach collection="columns" item="column" separator=",">
				<choose>
					<when test="column=='parentId' || column=='parent_id'">
						parent_id=#{record.parentId}
					</when>
					<when test="column=='menuName' || column=='menu_name'">
						menu_name=#{record.menuName}
					</when>
					<when test="column=='url' || column=='url'">
						url=#{record.url}
					</when>
					<when test="column=='icon' || column=='icon'">
						icon=#{record.icon}
					</when>
					<when test="column=='orderNo' || column=='order_no'">
						order_no=#{record.orderNo}
					</when>
					<when test="column=='openType' || column=='open_type'">
						open_type=#{record.openType}
					</when>
					<when test="column=='modelType' || column=='model_type'">
						model_type=#{record.modelType}
					</when>
					<when test="column=='treeId' || column=='tree_id'">
						tree_id=#{record.treeId}
					</when>
					<when test="column=='referField' || column=='refer_field'">
						refer_field=#{record.referField}
					</when>
					<when test="column=='masterTable' || column=='master_table'">
						master_table=#{record.masterTable}
					</when>
					<when test="column=='masterPk' || column=='master_pk'">
						master_pk=#{record.masterPk}
					</when>
					<when test="column=='slaveTable' || column=='slave_table'">
						slave_table=#{record.slaveTable}
					</when>
					<when test="column=='slaveFk' || column=='slave_fk'">
						slave_fk=#{record.slaveFk}
					</when>
				</choose>
			</foreach>
		</set>
		where id = #{record.id}
	</update>

    <!--更新所有字段-->
	<update id="update" parameterType="com.rbac.jrapid.entity.platform.SysMenu">
		update sys_menu
		set parent_id=#{parentId},menu_name=#{menuName},url=#{url},icon=#{icon},
			order_no=#{orderNo},open_type=#{openType},model_type=#{modelType},tree_id=#{treeId},refer_field=#{referField},
			master_table=#{masterTable},master_pk=#{masterPk},slave_table=#{slaveTable},slave_fk=#{slaveFk}
		where id = #{id}
	</update>
	
	<sql id="exampleClause">
		<trim prefixOverrides="and|or">
			<foreach collection="example.oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and|or">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									${criterion.condition}
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</trim>
	</sql>
	
	<!-- 根据条件查询 -->
	<select id="listByCondition" resultMap="baseResultMap">
		select 
		<include refid="baseColumnList" />
		from sys_menu
		<if test="_parameter != null" >
			<where>
				<include refid="exampleClause" />
			</where>
			<if test="example.orderByClause != null and example.orderByClause != ''">
				order by ${example.orderByClause}
			</if>
		</if>
	</select>
	
	<!-- 根据条件查询 -->
	<select id="countByCondition" resultType="java.lang.Integer">
		select count(1)
		from sys_menu
		<if test="_parameter != null" >
			<where>
				<include refid="exampleClause" />
			</where>
		</if>
	</select>

	<!-- ********************** 以上部分为代码自动生成，不能修改！！！ ********************************** -->

</mapper>