<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rbac.jrapid.dao.platform.SysMenuExtMapper">

    <resultMap id="baseResultExtMap" type="com.rbac.jrapid.entity.platform.SysMenu"
               extends="com.rbac.jrapid.dao.platform.SysMenuMapper.baseResultMap"></resultMap>

    <sql id="baseExtColumnList">
        id,parent_id,menu_name,url,icon,
        order_no,open_type
    </sql>

    <!-- 获取根节点 -->
    <select id="getRoots" resultMap="baseResultExtMap">
        select
        <include refid="baseExtColumnList"/> from SYS_MENU where PARENT_ID = 0
    </select>

</mapper>