<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rbac.jrapid.dao.platform.SysUserRoleExtMapper">

    <resultMap id="baseResultExtMap" type="com.rbac.jrapid.entity.platform.SysUserRole"
               extends="com.rbac.jrapid.dao.platform.SysUserRoleMapper.baseResultMap"></resultMap>

    <sql id="baseExtColumnList">
        <include refid="com.rbac.jrapid.dao.platform.SysUserRoleMapper.baseColumnList" />
    </sql>

</mapper>